@import "/src/assets/variables.scss";

:host {
  & button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    margin: 8px 8px 8px 0;
  }
}

.default {
  color: #000;
  background-color: transparent;
}
.primary {
  background-color: $color-primary;
  color: #fff;
}

.accent {
  background-color: $color-accent;
  color: #fff;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}

.fontStyle {
  font-size: 14px;
  font-weight: 500;
}
